.App {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  height: 1024px;
  background: url(./background/Frame.png) no-repeat,
 linear-gradient(180deg, #F3F7FF 0%, #F6F9FB 100%);
}
.main_wrapper{
  display: flex;
}
.right_block{
  display: flex;
  flex-direction: column;
}
.middle_bars{
  display: flex;
}

